body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #100166;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02004e;
    color: white;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover {
    color: #00bcd4;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 50px;
    background-color: #0c1e52,#c7d8fc;
    color: rgb(255, 255, 255);
    text-align: left;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 36px;
}

.hero-content h1 span {
    color: #00bcd4;
}

.hero-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.5;
}

.hero-image img {
    width: 250px;
    border-radius: 50%;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #008c9e;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: white;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #00bcd4;
}


.about {
    text-align: center;
    padding: 50px;
    background-color: #0e0158;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.skills {
    text-align: center;
    padding: 50px;
    background-color: #02004e;
}

.skill-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-tags span {
    background-color: #003f4e;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}

.contact {
    text-align: center;
    padding: 50px;
    background-color: #040253;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact input,
.contact textarea {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact textarea {
    height: 120px;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
}